@model Avtomoll.Models.ServiceViewModel

@{
    ViewData["Title"] = "EditService";
}

<h1>EditService</h1>

<h4>ServiceViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditService">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupServiceId" class="control-label"></label>
                <select asp-for="GroupServiceId" asp-items="@Model.ListGroups">
                    <option>@Model.GroupName</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <input asp-for="ServiceId" class="form-control" />
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NativeCar" class="control-label"></label>
                <input asp-for="NativeCar" class="form-control" />
                <span asp-validation-for="NativeCar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForeignCar" class="control-label"></label>
                <input asp-for="ForeignCar" class="form-control" />
                <span asp-validation-for="ForeignCar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeadTime" class="control-label"></label>
                <input asp-for="LeadTime" class="form-control" />
                <span asp-validation-for="LeadTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
