@model Avtomoll.ViewModel.ManagerViewModel

@{
    ViewData["Title"] = "Редактирование менеджера";
}

<h1>Редактирование менеджера</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditManager">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <label asp-for="ManagerId" class="control-label"></label>
                <input asp-for="ManagerId" class="form-control" />
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleManager" class="control-label"></label>
                 <select asp-for="RoleManager">
                     <option value="Content manager">Контент менеджер</option>
                    <option value="Application manager">Менеджер заявок</option>
                </select>
                <span asp-validation-for="RoleManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation" class="control-label"></label>
                <input asp-for="PasswordConfirmation" class="form-control" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">К списку менеджеров</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
