@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <a class="row" asp-action="Create" asp-controller="AdminPanelManagers">
        Регистрация менеджера
    </a>

    <a class="row" asp-action="List" asp-controller="AdminPanelManagers">
        Список менеджеров
    </a>

</div>

@section Scripts{

}

