<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Avtomoll</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Avtomoll</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                               asp-controller="ManagersManager"
                               asp-action="Index">
                                    Управление пользователями
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("ContentManager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                               asp-controller="ContentManager"
                               asp-action="Index">
                                    Управление контентом
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("SalesManager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                               asp-controller="ContentManager"
                               asp-action="Index">
                                    Управление заявками
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-controller="ServiceManager"
                               asp-action="Index">
                                Заявки
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-controller="Reception"
                               asp-action="Index">
                                Таблица заявок
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FeedBack" asp-action="Create">Обратная связь</a>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                               asp-controller="FeedBack"
                               asp-action="Index">
                                    Список обратной связи
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("ContentManager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                               asp-controller="FeedBack"
                               asp-action="Index">
                                    Список обратной связи
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("SalesManager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                               asp-controller="FeedBack"
                               asp-action="Index">
                                    Список обратной связи
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Avtomoll - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
